body {
	font-family: monospace;
}


.problem div {
	border: 1px solid black;
	padding: 10px;
}

.answer {
	color: #1d880d;
	font-weight: bold;
	text-align: center;
	border: 1px solid #259f19;
	background-color: #c1f4b4;
}